/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
Login register and recover password Page
******************/
.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed; }

.login-box {
  width: 400px;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  .login-sidebar .login-box {
    left: 0px;
    position: fixed;
    height: 100%;
	width:300px;
}

.login-sidebar .login-box .card-body{
	padding: 1rem;
}

.login-sidebar .page-wrapper {
    margin-left: 300px;
}


.login-sidebar .form-group, .login-sidebar .form-control, .login-sidebar [type="checkbox"] + label {
    font-size: 12px;
}

.login-sidebar .social .btn{
    width: 35px;
    height: 35px;
    padding: 7px 2px;
    text-align: center;
}

.login-sidebar .card-body.green-lb{
	border-left:5px solid #5abc5d;
}

.login-sidebar .card-body.red-lb{
	border-left:5px solid #eb636a;
}